/* -- */

.breadcrumb {
    display: inline-flex;
    list-style: none;
    font-size: 0.875em;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #bfbebe;
    padding-right: 3px;
}

.breadcrumb a::after {
    content: '/';
    padding-left: 3px;
}

.breadcrumb .active {
    color: #000;
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
}

@media (max-width: 1169px) {
    .breadcrumb {
        margin-top: 40px;
    }
}

/* -- */

section h1 {
    flex: 0 1 100%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

/* -- */

.caption_map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.caption_map ul {
    display: flex;
    font-size: 14px;
    color: #191919;
}

.caption_map li {
    display: flex;
    white-space: nowrap;
    padding-left: 20px;
}

.caption_map b {
    padding-left: 5px;
}

/* -- */

.escort_map {
    width: 100%;
    height: 604px;
    background: url("../../assets/img/escort_map.png") no-repeat 50% 50%;
}

/* -- */

/* -- */

.zones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 32px;
    color: #000;
}

.zones span {
    padding-left: 5px;
    padding-right: 10px;

}

.zones ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.zones li a {
    font-weight: 500;
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 14px;
    color: #000;
}

.zones li a span {
    position: relative;
}

.zones li a:before {
    content: "";
    display: block;
    background: #c71b1b;
    position: absolute;
    top: 0px;
    width: 100%;
    left: -100%;
    height: 100%;
    transition: all 0.3s;
}

.zones li a:hover:before {
    left: 0;
}

.zones li a:hover span {
    color:#fff;
}

.zones .btn-red {
    display: inline-block;
    width: 220px;
    height: 50px;
    letter-spacing: 0.075em;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-image: -moz-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    transition: all 0.2s;
}

.zones .btn-red:hover {
    background-image: -moz-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
    background-image: -webkit-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
    background-image: -ms-linear-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
}

.zones_botton {
    margin-bottom: 90px;
}

/* -- */

.special {
    background-color: #fff;
    /*-webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);*/
    /*-moz-box-shadow:    0px 0px 6px 0px rgba(34, 34, 34, 0.04);*/
    /*box-shadow:         0px 0px 6px 0px rgba(34, 34, 34, 0.04);*/
    text-align: center;
    padding: 115px 0px 100px 15px;
    background-image: url(../img/special_offer_contacts.png?v=1);
    background-position: center 70px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.special span {
    color: #191919;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 0px 0px 22px;
    letter-spacing: 0.2em;
}

.special p {
    color: #c71b1b;
    font-family: "Playfair Display";
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 0px 0px 20px;
}

.special a {
    display: inline-block;
    background: #191919;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0px 23px;
    margin-top: 20px;
}


/* -- */

section.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section.grid h1 {
    flex: 0 1 100%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

section.grid h1 > a {
    font-family: "SF UI Text", sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
}

section.grid h1 > a:hover {
    text-decoration: underline;
}

.girl {
    display: block;
    width: 280px;
    height: 374px;
    background-position: center top;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;
}

.bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.bg_img > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center top;
    background-size: cover;
    transition: all 0.2s;
}

.bg_img:hover > div {
    transform: scale(1.1);
}

.girl span.age {
    position: absolute;
    top: 20px;
    left: 22px;
    color: #fff;
    font-size: 14px;
}

.girl span.verification {
    position: absolute;
    top: 21px;
    right: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.girl span.vip {
    position: absolute;
    top: 0;
    right: 0;
}

.girl span.location {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.girl span.location span {
    position: absolute;
    top: 5px;
    left: 23px;
    letter-spacing: 0.05rem;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}

.girl span.location b {
    font-weight: 600;
}

.girl span.name {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    position: absolute;
    left: 0px;
    bottom: -34px;
    font-family: "Playfair Display";
    font-weight: 700;
}

.girl span.rank {
    position: absolute;
    right: 10px;
    font-size: 13px;
    line-height: 13px;
    bottom: -32px;
    text-transform: uppercase;
    font-weight: 500;
}

.girl span.rank:after {
    position: absolute;
    right: -13px;
    bottom: -2px;
    content: "";
    display: block;
    background-image: url(../img/arr_up.png);
    width: 5px;
    height: 18px;
    background-size: 100% 100%;
}

.girl span.city {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 0px;
    bottom: -33px;
}

.girls_of_week {
    width: 578px;
    height: 374px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;

    box-sizing: border-box;
    padding: 52px 0px 0px 40px;
}

.girls_of_week > p {
    color: #191919;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display";
    padding: 0px 0px 18px;
    position: relative;
}

.girls_of_week > span {
    color: #747474;
    font-size: 14px;
    line-height: 22px;
    max-width: 270px;
    display: block;
    position: relative;
}

.girls_of_week .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    outline: none;
}

.girls_of_week .inner .slick-list {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner .slick-track {
    height: 100%;
}

.girls_of_week .inner .slick-slide > div {
    height: 100%;
}

.girls_of_week .inner a > p {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    max-width: 100px;
}

.girls_of_week .slick-dots {
    position: absolute;
    right: 50px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girls_of_week .slick-dots li {
    display: block;
    margin: 0px 4px;
}

.girls_of_week .slick-dots li button {
    display: block;
    background: none;
    outline: none;
    width: 10px;
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid #1d1d1c;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.girls_of_week .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border: 0px;
}

/* -- */

section.newest .girl {
    margin-bottom: 75px;
}
