/* -- */

.breadcrumb {
    display: inline-flex;
    list-style: none;
    font-size: 0.875em;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #bfbebe;
    padding-right: 3px;
}

.breadcrumb a::after {
    content: '/';
    padding-left: 3px;
}

.breadcrumb .active {
    color: #000;
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
}

@media (max-width: 1169px) {
    .breadcrumb {
        margin-top: 40px;
    }
}

/* -- */

.all {
    display: flex;
    font-size: 14px;
    color: #191919;
}

.all a {
    color: #000;
}

.all_left {
    position: relative;
    margin: 0 auto;
}

.all_left .img {
    width: 380px;
    height: 507px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.all_left .vip {
    position: absolute;
    top: 0;
    right: 0;
}

.all_left span.location {
    position: absolute;
    top: 460px;
    right: 15px;
}

.all_left span.location span {
    position: absolute;
    top: 5px;
    left: 23px;
    letter-spacing: 0.05rem;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}

.all_left span.location b {
    font-weight: 600;
}

.all_left .verified {
    position: absolute;
    top: 21px;
    left: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.all_left p {
    font-size: 16px;
    font-weight: 700;
}

.all_right .caption {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}

.all_right .title {
    letter-spacing: 0.075em;
    font-family: "Playfair Display";
    text-transform: uppercase;
    padding-bottom: 20px;
}

.all_right .name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.all_right .information {
    display: flex;
    margin: 20px 0 15px;
}

.all_right .information_left {
    white-space: nowrap;
}

.all_right .all_review {
    line-height: 24px;
    color: #666;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;;
}

.all_comments .quantity {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding-bottom: 15px;
}

.all_comments .author {
    font-weight: 700;
    color: #000;
}

.all_comments .date {
    padding: 4px 0 22px;
    font-size: 12px;
}

.all_comments .comment {
    margin-bottom: 20px;
    line-height: 24px;
    height: 28px;
    overflow: hidden;
}

.all_right .btn-red {
    display: inline-block;
    width: 220px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.075em;
    border-radius: 2px;
    background-image: -moz-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    margin-right: 10px;
    transition: all 0.2s;
}

.all_right .btn-red:hover {
    background-image: -moz-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
    background-image: -webkit-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
    background-image: -ms-linear-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
}

.all_comments .btn-white {
    display: inline-block;
    width: 220px;
    height: 50px;
    color: #c71b1b;
    letter-spacing: 0.075em;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #c71b1b;
    background: #fff;
    margin-right: 10px;
    transition: all 0.2s;
}

.all_comments .btn-white:hover {
    color: #fff;
    background-image: -moz-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
    background-image: -webkit-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
    background-image: -ms-linear-linear-gradient( 270deg, rgb(218,75,75) 0%, rgb(201,47,47) 100%);
}

.all_right .information li {
    margin-bottom: 13px;
}

.all_right .information .like {
    position: relative;
    bottom: 7px;
    height: 29px;
    margin-bottom: 0;
}

.all_right .information img {
    padding-right: 8px;
}

.all_right .information_right {
    font-weight: 700;
    color: #000;
    margin-left: 20px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .all_right {
        padding-left: 30px;
    }
}

/* -- */

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 100px;
}

.list_pagination {
    display: inline-flex;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.list_pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 49px;
    color: #191919;
    width: 48px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
}

.list_pagination .prev,
.list_pagination .next {
    font-size: 30px;
    font-weight: 300;
    color: #e5e5e5;
}

.list_pagination .active a,
.list_pagination a:hover {
    position: relative;
    left: -1px;
    width: 49px;
    height: 49px;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* -- */

.reviews_all .reviews_item {
    padding-bottom: 40px;
}

/* -- */

section.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section.grid h1 {
    flex: 0 1 100%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

section.grid h1 > a {
    font-family: "SF UI Text", sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
}

section.grid h1 > a:hover {
    text-decoration: underline;
}

.girl {
    display: block;
    width: 280px;
    height: 374px;
    background-position: center top;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;
}

.bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.bg_img > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center top;
    background-size: cover;
    transition: all 0.2s;
}

.bg_img:hover > div {
    transform: scale(1.1);
}

.girl span.age {
    position: absolute;
    top: 20px;
    left: 22px;
    color: #fff;
    font-size: 14px;
}

.girl span.verification {
    position: absolute;
    top: 21px;
    right: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.girl span.vip {
    position: absolute;
    top: 0;
    right: 0;
}

.girl span.location {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.girl span.name {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    position: absolute;
    left: 0px;
    bottom: -34px;
    font-family: "Playfair Display";
    font-weight: 700;
}

.girl span.rank {
    position: absolute;
    right: 10px;
    font-size: 13px;
    line-height: 13px;
    bottom: -32px;
    text-transform: uppercase;
    font-weight: 500;
}

.girl span.rank:after {
    position: absolute;
    right: -13px;
    bottom: -2px;
    content: "";
    display: block;
    background-image: url(../img/arr_up.png);
    width: 5px;
    height: 18px;
    background-size: 100% 100%;
}

.girl span.city {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 0px;
    bottom: -33px;
}

.girls_of_week {
    width: 578px;
    height: 374px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;

    box-sizing: border-box;
    padding: 52px 0px 0px 40px;
}

.girls_of_week > p {
    color: #191919;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display";
    padding: 0px 0px 18px;
    position: relative;
}

.girls_of_week > span {
    color: #747474;
    font-size: 14px;
    line-height: 22px;
    max-width: 270px;
    display: block;
    position: relative;
}

.girls_of_week .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    outline: none;
}

.girls_of_week .inner .slick-list {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner .slick-track {
    height: 100%;
}

.girls_of_week .inner .slick-slide > div {
    height: 100%;
}

.girls_of_week .inner a > p {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    max-width: 100px;
}

.girls_of_week .slick-dots {
    position: absolute;
    right: 50px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girls_of_week .slick-dots li {
    display: block;
    margin: 0px 4px;
}

.girls_of_week .slick-dots li button {
    display: block;
    background: none;
    outline: none;
    width: 10px;
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid #1d1d1c;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.girls_of_week .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border: 0px;
}

/* -- */

section.newest .girl {
    margin-bottom: 75px;
}
