@media (min-width: 1169px) {
    .hide_desctop {
        display: none !important;
    }
}

/* -- */

.breadcrumb {
    display: inline-flex;
    list-style: none;
    font-size: 0.875em;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #bfbebe;
    padding-right: 3px;
}

.breadcrumb a::after {
    content: '/';
    padding-left: 3px;
}

.breadcrumb .active {
    color: #000;
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
}

@media (max-width: 1169px) {
    .breadcrumb {
        margin-top: 40px;
    }
}

/* -- */

.escort .btn-more {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 17px 0;
    margin-bottom: 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    transition: all 0.2s;
}

.escort .btn-more:hover {
    color: #fff;
    background: #000;
}

/* -- */

.filter .marked {
    padding: 15px 15px  10px 15px;
    background: #fff;
}

.filter .marked span {
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 11px 10px 13px;
    margin-right: 8px;
    font-size: 14px;
    color: #191919;
}

.filter .marked a {
    padding-left: 5px;
}

.spoiler-wrap {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
}

.spoiler-head {
    background: url(../../assets/img/arrow_up.png) no-repeat 93% 50%;
    cursor: pointer;
    padding: 23px;
    color: #191919;
    font-weight: 700;
}

.spoiler-head a {
    text-decoration: underline;
}

.spoiler-head a:hover {
    color: #666;
    text-decoration: none;
}

.spoiler-wrap.disabled .spoiler-body {
    display: none
}

.spoiler-wrap.active .spoiler-head {
    background: url(../../assets/img/arrow_down.png) no-repeat 93% 50%;
}

@media(min-width: 768px) and (max-width: 1169px){
    .spoiler-head,
    .spoiler-wrap.active .spoiler-head {
        background-position:  96% 50%;
    }
}

/* -- */

.spoiler-body .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    margin: 15px 0;
    cursor: pointer;
}

.spoiler-body .checkbox input {
    display: none;
}

.spoiler-body .checkbox input:checked + .box {
    position: relative;
}

.spoiler-body .checkbox input:checked + .box:after {
    position: absolute;
    top: 0px;
    left: 4px;
    content: '\2714';
    color: #d12e2e;
}

.spoiler-body .checkbox .box {
    width: 18px;
    height: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.spoiler-body .checkbox .text-box {
    display: inline-flex;
    justify-content: space-between;
    width: 77%;
    padding-left: 12px;
}

.spoiler-body .city, .spoiler-body .status, .spoiler-body .name, .spoiler-body .gender, .spoiler-body .orientation, .spoiler-body .ethnicity, .spoiler-body .hair, .spoiler-body .age, .spoiler-body .height, .spoiler-body .weight {
    padding: 0 10px 10px 23px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);

}

.spoiler-body .search input {
    width: 100%;
    border: none;
    font-size: 14px;
    color: #bfbebe;
    background: #f2f2f2 url("../../assets/img/search.png") no-repeat 95% 50%;
    padding: 17px 23px;
    outline: none;
}

.spoiler-body .age input, .spoiler-body .height input, .spoiler-body .weight input {
    width: 31%;
    font-size: 14px;
    color: #bfbebe;
    outline: none;
    padding: 15px 12px;
    border-radius: 3px;
    margin: 5px 10px 20px 0;
    border: 1px solid #e5e5e5;
}

.spoiler-body .status {
    margin-top: 50px;
}

/* -- */

h1 {
    flex: 0 1 100%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.escort main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.escort main > section {
    width: 860px;
}

aside {
    width: 280px;
    display: block;
}

/* -- */

.zones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 32px;
    color: #000;
}

.zones span {
    padding-left: 5px;
    padding-right: 10px;

}

.zones ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.zones li a {
    font-weight: 500;
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    color: #000;
}

.zones li a span {
    position: relative;
}

.zones li a:before {
    content: "";
    display: block;
    background: #c71b1b;
    position: absolute;
    top: 0px;
    width: 100%;
    left: -100%;
    height: 100%;
    transition: all 0.3s;
}

.zones li a:hover:before {
    left: 0;
}

.zones li a:hover span {
    color:#fff;
}

.zones .btn-red {
    display: inline-block;
    width: 220px;
    height: 50px;
    letter-spacing: 0.075em;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-image: -moz-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(199, 27, 27) 0%, rgb(214, 55, 55) 100%);
    transition: all 0.2s;
}

.zones .btn-red:hover {
    background-image: -moz-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
    background-image: -webkit-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
    background-image: -ms-linear-linear-gradient(270deg, rgb(218, 75, 75) 0%, rgb(201, 47, 47) 100%);
}

.zones_botton {
    margin-bottom: 90px;
}

.escort .btn_filter {
    display: block;
    width: 100%;
    font-weight: 700;
    color: #191919;
    padding: 17px 0;
    text-align: center;
    margin-bottom: 4px;
    background: #fff url("../../assets/img/filter.png") no-repeat 44.5% 50%;
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
}

/* -- */

section.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.grid .sort {
    flex: 0 1 100%;
    text-align: right;
    padding-bottom: 13px;
    font-size: 14px;
}

section.grid .sort_select {
    border-radius: 3px;
    font-weight: 600;
    color: #191919;
    border-color: #e5e5e5;
    padding: 10px 39px 10px 15px;
    margin-left: 10px;
    background: #fafafa url(../../assets/img/arrow_down.png) no-repeat 90% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (max-width: 767px) {
    section.grid .sort {
        text-align: left;
    }

    section.grid .sort_select {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }
}

section.grid .sort_select:active,
section.grid .sort_select:focus {
    border-color: #bfbebe;
    outline: none;
}

section.grid .sort_select:hover {
    border-color: #e6dbdb;
}

/* -- */

.girl {
    display: block;
    width: 280px;
    height: 374px;
    background-position: center top;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;
}

.bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.bg_img > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center top;
    background-size: cover;
    transition: all 0.2s;
}

.bg_img:hover > div {
    transform: scale(1.1);
}

.girl span.age {
    position: absolute;
    top: 20px;
    left: 22px;
    color: #fff;
    font-size: 14px;
}

.girl span.verification {
    position: absolute;
    top: 21px;
    right: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.girl span.vip {
    position: absolute;
    top: 0;
    right: 0;
}

.girl span.location {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.girl span.location span {
    position: absolute;
    top: 5px;
    left: 23px;
    letter-spacing: 0.05rem;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}

.girl span.location b {
    font-weight: 600;
}

.girl span.name {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    position: absolute;
    left: 0px;
    bottom: -34px;
    font-family: "Playfair Display";
    font-weight: 700;
}

.girl span.rank {
    position: absolute;
    right: 10px;
    font-size: 13px;
    line-height: 13px;
    bottom: -32px;
    text-transform: uppercase;
    font-weight: 500;
}

.girl span.rank:after {
    position: absolute;
    right: -13px;
    bottom: -2px;
    content: "";
    display: block;
    background-image: url(../img/arr_up.png);
    width: 5px;
    height: 18px;
    background-size: 100% 100%;
}

.girl span.city {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 0px;
    bottom: -33px;
}

.girls_of_week {
    width: 578px;
    height: 374px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;

    box-sizing: border-box;
    padding: 52px 0px 0px 40px;
}

.girls_of_week > p {
    color: #191919;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display";
    padding: 0px 0px 18px;
    position: relative;
}

.girls_of_week > span {
    color: #747474;
    font-size: 14px;
    line-height: 22px;
    max-width: 270px;
    display: block;
    position: relative;
}

.girls_of_week .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    outline: none;
}

.girls_of_week .inner .slick-list {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner .slick-track {
    height: 100%;
}

.girls_of_week .inner .slick-slide > div {
    height: 100%;
}

.girls_of_week .inner a > p {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    max-width: 100px;
}

.girls_of_week .slick-dots {
    position: absolute;
    right: 50px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girls_of_week .slick-dots li {
    display: block;
    margin: 0px 4px;
}

.girls_of_week .slick-dots li button {
    display: block;
    background: none;
    outline: none;
    width: 10px;
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid #1d1d1c;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.girls_of_week .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border: 0px;
}

/* -- */

section.newest .girl {
    margin-bottom: 75px;
}
