/* -- */

.breadcrumb {
    display: inline-flex;
    list-style: none;
    font-size: 0.875em;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #bfbebe;
    padding-right: 3px;
}

.breadcrumb .active {
    color: #000;
}

.breadcrumb a::after {
    content: '/';
    padding-left: 3px;
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
}

@media (max-width: 1169px) {
    .breadcrumb {
        margin-top: 40px;
    }
}

/* -- */

section.reviews h1 {
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding-bottom: 20px;
}

section.reviews .caption {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.reviews .sort {
    text-align: right;
    padding-bottom: 20px;
    color: #191919;
    font-size: 14px;
}

section.reviews .sort-select {
    border-radius: 3px;
    font-weight: 600;
    color: #191919;
    border-color: #e5e5e5;
    padding: 10px 39px 10px 15px;
    margin-left: 10px;
    background: #fafafa url(../../assets/img/arrow_down.png) no-repeat 90% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (max-width: 767px) {
    section.reviews .caption {
        justify-content: center;
        margin-top: 40px;
    }

    section.reviews .sort {
        text-align: center;
        width: 100%;
    }
}

section.reviews .sort-select:active,
section.reviews .sort-select:focus {
    border-color: #bfbebe;
    outline: none;
}

section.reviews .sort-select:hover {
    border-color: #e6dbdb;
}

/* -- */

.review {
    display: flex;
    font-size: 14px;
    color: #191919;
    margin-bottom: 40px;
}

.review a {
    color: #000;
}

.review_left {
    text-align: center;
    margin: 0 auto;
}

.review_left img {
    max-width: 185px;
    max-height: 243px;
}

.review_left .name {
    font-size: 16px;
    letter-spacing: 0.075em;
    font-family: "Playfair Display";
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    padding: 20px 0 5px;
}

.review_left .city {
    color: #c71b1b;
    padding-bottom: 10px;
}

.review_right .name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.review_right .information {
    display: flex;
    margin: 20px 0 15px;
}

.review_right .text {
    line-height: 24px;
    color: #666;
}

.review_right .btn-arrow {
    position: relative;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.075em;
    color: #000;
    margin-top: 35px;
}

.review_right .btn-arrow::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 7px;
    background-image: url(../img/arr_right.png);
    background-size: 100% 100%;
    bottom: -10px;
    left: 97px;
    opacity: 0.2;
    -webkit-transform: translate(-40%, 0);
    -ms-transform: translate(-40%, 0);
    transform: translate(-40%, 0);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
}

.review_right .btn-arrow:hover::after {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.review_right .information li {
    margin-bottom: 13px;
}

.review_right .information_right {
    font-weight: 700;
    color: #000;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .review_right {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {
    .review {
        flex-wrap: wrap;
    }

    .review_right {
        margin-left: 0;
    }

    .review_right .name {
        text-align: center;
        margin-top: 40px;
    }

    .review_right .information_right {
        text-align: right;
        width: 100%;
    }

    .review_right p {
        padding: 0 10px;
        text-align: center;
    }

    .review_right a {
        text-align: center;
    }
}

.reviews .btn-more {
    display: block;
    font-size: 14px;
    padding: 17px 0;
    margin-bottom: 40px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    transition: all 0.2s;
}

.reviews .btn-more:hover {
    color: #fff;
    background: #000;
}

/* -- */

section.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section.grid h1 {
    flex: 0 1 100%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

section.grid h1 > a {
    font-family: "SF UI Text", sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
}

section.grid h1 > a:hover {
    text-decoration: underline;
}

.girl {
    display: block;
    width: 280px;
    height: 374px;
    background-position: center top;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;
}

.bg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.bg_img > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center top;
    background-size: cover;
    transition: all 0.2s;
}

.bg_img:hover > div {
    transform: scale(1.1);
}

.girl span.age {
    position: absolute;
    top: 20px;
    left: 22px;
    color: #fff;
    font-size: 14px;
}

.girl span.verification {
    position: absolute;
    top: 21px;
    right: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.girl span.vip {
    position: absolute;
    top: 0;
    right: 0;
}

.girl span.location {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.girl span.location span {
    position: absolute;
    top: 5px;
    left: 23px;
    letter-spacing: 0.05rem;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}

.girl span.location b {
    font-weight: 600;
}

.girl span.name {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    position: absolute;
    left: 0px;
    bottom: -34px;
    font-family: "Playfair Display";
    font-weight: 700;
}

.girl span.rank {
    position: absolute;
    right: 10px;
    font-size: 13px;
    line-height: 13px;
    bottom: -32px;
    text-transform: uppercase;
    font-weight: 500;
}

.girl span.rank:after {
    position: absolute;
    right: -13px;
    bottom: -2px;
    content: "";
    display: block;
    background-image: url(../img/arr_up.png);
    width: 5px;
    height: 18px;
    background-size: 100% 100%;
}

.girl span.city {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 0px;
    bottom: -33px;
}

.girls_of_week {
    width: 578px;
    height: 374px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    -moz-box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    box-shadow: 0px 0px 6px 0px rgba(34, 34, 34, 0.04);
    position: relative;

    box-sizing: border-box;
    padding: 52px 0px 0px 40px;
}

.girls_of_week > p {
    color: #191919;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display";
    padding: 0px 0px 18px;
    position: relative;
}

.girls_of_week > span {
    color: #747474;
    font-size: 14px;
    line-height: 22px;
    max-width: 270px;
    display: block;
    position: relative;
}

.girls_of_week .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    outline: none;
}

.girls_of_week .inner .slick-list {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.girls_of_week .inner .slick-track {
    height: 100%;
}

.girls_of_week .inner .slick-slide > div {
    height: 100%;
}

.girls_of_week .inner a > p {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    max-width: 100px;
}

.girls_of_week .slick-dots {
    position: absolute;
    right: 50px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girls_of_week .slick-dots li {
    display: block;
    margin: 0px 4px;
}

.girls_of_week .slick-dots li button {
    display: block;
    background: none;
    outline: none;
    width: 10px;
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid #1d1d1c;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.girls_of_week .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border: 0px;
}

/* -- */

section.newest .girl {
    margin-bottom: 75px;
}